* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* main body part with common font monaco */

body {
  font-family: monaco;
}
/* Headear and row part classed for the navbars styling */
.row {
  max-width: 650px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 250px;
  margin: 0 auto;
  float: center;
}

.main-nav {
  /* top: 50%;
  display: inline-block;
  margin-left: 50%;
  margin-right: 50%; */
  position: relative;

  margin-top: 60px;
}
/* Pac man Style HR */

hr.line1 {
  margin-top: 20px;
  border: 0;
  height: 25px;
  background-image: url(../images/line1.png);
  background-repeat: no-repeat;
}

.main-nav li {
  margin-top: 20px;
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.main-nav li a {
  text-decoration: none;
  font-family: monaco;
  color: rgb(36, 36, 36);
  transition: 0.3s ease;
}

.main-nav li a:hover {
  border-bottom: 3px solid red;
  padding: 8px 0px;
}

.main-content-header {
  color: rgb(63, 63, 63);
  text-align: center;
  margin-top: 9%;
}
.main-content-header a {
  text-decoration: none;
  text-align: center;
}

.colorchange {
  animation: colorchangetest 1s infinite;
}
/* animating the color with keyframes */
@keyframes colorchangetest {
  0% {
    color: blue;
  }
  50% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

h1 {
  letter-spacing: 3px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  margin-top: 4%;
}

.aboutme {
  margin-top: 1%;
  margin-left: 30%;
  margin-right: 30%;
}
/* buttons in the body part styling */

.btn {
  display: inline-block;
  padding: 10px 10px;
  font-weight: lighter;
  color: rgb(77, 77, 77);
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-resume {
  background-color: transparent;
  margin-right: 15px;
  border: 1px solid orangered;
  color: orangered;
}
.btn-blog {
  background-color: transparent;
  margin-right: 15px;
  border: 1px solid blue;
  color: blue;
}

.btn-resume:hover {
  background-color: orangered;
  color: white;
}

.btn-blog:hover {
  background-color: blue;
  color: white;
}

/* Footer Part */

.footer {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 2%;
}

/* Footer Icons */

.fa {
  padding: 19px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 40px 5px;
  border-radius: 50%;
}

.fa:hover {
  transform: scale(2);
  transition: all 0.4s ease-in-out;
}

.fa-facebook {
  background: rgb(5, 5, 173);
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}
.fa-google {
  background: #ff2407;
  color: white;
}

/* Scrolling button styling  */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  padding: 15px;
  background-color: transparent;
}

#myBtn:hover {
  transform: scale(2);
  transition: all 0.4s ease-in-out;
  color: red;

}

/* FORMS STYLING  */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: red;
}

.form {
  
  margin: 0% 25% 0% 25%;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 50px;
}

#textarea

  {
    outline: none !important;
    border:1px solid grey;
    box-shadow: 0 0 5px grey;
}

/* skills page styling with main section and other child section */
.okok
{
  margin: 5% 50% 10% 25%;
  width: 100%;
}

.container {
  width: 50%;
  background-color: #ddd;
  border-radius: 10px;
 
}


.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 10px;
}
.html {width: 55%; background-color: #4CAF50;}
.css {width: 50%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 80%; background-color: #808080;}

h1.skillhead
{
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  margin-top: 4%;
  margin-left: 45%;
  margin-right: 25%;
}

/* projects page  */

.projects
{ 
 
  text-align: center; 
  margin: 5% 25% 0% 25%;
} 


.car-container
{
  display: flex;
  margin-top: 10%;
  justify-content: center;
  
}

.car-container img 
{
  width: 30%;
}